.card-1 {
    background-color: #d9d9d9;
}

.card-2 {
    background-color: #d7d7d7;
}

.card-3 {
    background-color: #dbdbdb;
}

.card-4 {
    background-color: #e5e5e6;
}

.card-5 {
    background-color: #efefef;
}

.card-6 {
    background-color: #f4f5f5;
}